<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="./../../../assets/img/logo-POECNewsBlanc.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="title">RÉCUPÉRATION DE MOT DE PASSE</ion-title>
  <P>Veuillez saisir votre Email</P>
  <ion-input id="email" placeholder="Email" type="email"></ion-input>
  <ion-button id="buttonRec" size="small">Envoyer</ion-button>
  <ion-button id="buttonRecA" size="small" color="medium">Annuler</ion-button> 
</ion-content>