<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list *ngIf="this.authService.isAdministrateur(); else sinonRedacteur" id="inbox-list">
          <ion-list-header>
            <ion-label>Mon compte</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>{{this.authService.getLoginName()}}</ion-label>
          </ion-item>
          <br>
          <ion-menu-toggle *ngFor="let p of liensAdministrateur" auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ng-template #sinonRedacteur>
          <ion-list *ngIf="this.authService.isRedacteur(); else sinonUtilisateur" id="inbox-list">
            <ion-list-header>
              <ion-label>Mon compte</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>{{this.authService.getLoginName()}}</ion-label>
            </ion-item>
            <br>
            <ion-menu-toggle *ngFor="let p of liensRedacteur" auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ng-template>
        <ng-template #sinonUtilisateur>
          <ion-list *ngIf="this.authService.isUtilisateur(); else sinonInvite" id="inbox-list">
            <ion-list-header>
              <ion-label>Mon compte</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>{{this.authService.getLoginName()}}</ion-label>
            </ion-item>
            <br>
            <ion-menu-toggle *ngFor="let p of liensUtilisateur" auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ng-template>
        <ng-template #sinonInvite>
          <ion-list id="inbox-list">
            <ion-list-header>
              <ion-label>Menu</ion-label>
            </ion-list-header>
            <br>
            <ion-menu-toggle *ngFor="let p of lienDefault" auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ng-template>

        <ion-list *ngIf="this.authService.isConnected()" id="inbox-list">
          <button mat-button color="primary" (click)="logout()">Se déconnecter</button>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>