<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="./assets/img/logo-POECNewsBlanc.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="title">Modifier un rédacteur</ion-title>

  <ion-list lines="full">
    <form [formGroup]="form" (ngSubmit)="saveForm()">

      <ion-item>
        <ion-label position="floating">Nom/Pseudo</ion-label>
        <ion-input formControlName="loginName" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Changer le mot de passe</ion-label>
        <ion-toggle (ionChange)="toggleChange()" color="primary"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="this.toggle == true">
        <ion-label position="floating">Nouveau mot de passe</ion-label>
        <ion-input formControlName="password" type="password" required>
        </ion-input>
      </ion-item>

      <ion-item *ngIf="this.toggle == true">
        <ion-label position="floating">Confirmation du nouveau mot de passe</ion-label>
        <ion-input formControlName="password2" type="password" required>
        </ion-input>
      </ion-item>

      <div class="bouttons">
        <button mat-raised-button color="primary">MODIFIER</button>
        <button class="annuler" mat-raised-button [routerLink]="['/gerer-redacteurs/']">ANNULER</button>
      </div>
      
    </form>
  </ion-list>

</ion-content>