.logo{
    height: 40px;
    margin-left: 27%;
}

.buttonLire{
    margin: 5px;
}

.divLire{
    text-align: end;
}

.margCard{
    margin: 0 !important;
}

.comCard{
    background-color: rgb(255, 255, 255); 

}

.responseCard {
    margin-top: 1em !important;
    background-color:#ede7f6;    
    
}

.responseCardR {
    padding: 5px 8px !important;
}

.iconSend{
align-self: flex-end;
}