<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="./assets/img/logo-POECNewsBlanc.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="title">CRÉATION COMPTE</ion-title>
  <ion-list lines="full">
    <!-- [formGroup]="editForm" (ngSubmit)="saveForm()" -->
    <form >
      <ion-item class="statusForm">
        <ion-label>Status</ion-label>
        <ion-select value="util">
          <ion-select-option value="util">Utilisateur</ion-select-option>
          <ion-select-option value="redac">Rédacteur</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom/Pseudo</ion-label>
        <!-- formControlName="username"  -->
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <!-- formControlName="email"  -->
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <!-- formControlName="password"  -->
        <ion-input type="password"></ion-input>
      </ion-item>

      <!-- <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Modifier</ion-button>
        </ion-col>
      </ion-row> -->
      <button class="editInfo" mat-raised-button color="primary">CRÉER</button>
      <button class="annuler" mat-raised-button>ANNULER</button>

    </form>
  </ion-list>

</ion-content>