<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="./assets/img/logo-POECNewsBlanc.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="title">{{user.id ? "MODIFIER COMPTE" : "CRÉATION COMPTE"}}</ion-title>
  <ion-list lines="full">

    <form #myForm="ngForm" (ngSubmit)="saveUser()">
      <ion-item class="form-group" *ngIf="user.category==0">
        <ion-label>Status</ion-label>
        <ion-select value="2" class="form-control" name="category" [(ngModel)]="user.category">
          <ion-select-option value="2">Utilisateur</ion-select-option>
          <ion-select-option value="1">Rédacteur</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="form-group">
        <ion-label position="floating">Nom/Pseudo</ion-label>
        <ion-input type="text" required class="form-control" name="loginName" [(ngModel)]="user.loginName"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" class="form-control" name="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" class="form-control" name="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <div class="bouttons">
        <button mat-raised-button color="primary" type="submit">{{user.id ? "MODIFIER" : "CRÉER"}}</button>
        <button class="annuler" mat-raised-button>ANNULER</button>
      </div>

    </form>
  </ion-list>

</ion-content>