.logo{
    height: 40px;
    margin-left: 27%;
}

#spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.title{
    font-size: 14px;
    margin-top: 10px;
}

.iconAdd{
    padding-right: 10px;
    margin-top: 9px;
    font-size: 21px;
}

