.logo{
    height: 40px;
    margin-left: 27%;
}

#spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.titre{
    flex: 1 1 auto;
}

.iconAdd{
    padding-right: 10px;
    margin-top: 3px;
    font-size: 28px;
}

.close{
    height: 0 !important;
}

.formRedacteur{    
    height: 270px;
    transition: 0.3s;
}