<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="./assets/img/logo-POECNewsBlanc.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="title">GÉRER LES UTILISATEURS</ion-title>
  <ion-list>
    <div *ngIf="users.length; else spinner">
      <ion-item lines="inset" *ngFor="let elt of users">
        <ion-label>
          <!-- <p>{{ elt.id }}</p> -->
          <p>{{ elt.loginName }}</p>
          <p>{{ elt.email }}</p>
        </ion-label>
        <div>
          <ion-icon name="create" style="zoom:1.6" [routerLink]="['/gerer-info/', elt.id]"></ion-icon>
          <ion-icon name="trash" style="zoom:1.6" (click)="handleButtonClick(elt.id)"></ion-icon>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ng-template #spinner>
  <div id="spinner">
    <ion-spinner name="lines"></ion-spinner>
  </div>
</ng-template>