<form #myForm="ngForm" (ngSubmit)="saveRedacteur()">
    <div class="form-group">
        <label for="userlogin">userlogin:</label>
        <input class="form-control" type="text" name="userlogin" [(ngModel)]="redacteur.userlogin" required #nom="ngModel">
    </div>
    <div [hidden]="userlogin.valid || userlogin.pristine">
        le userlogin est obligatoire
    </div>
    <div class="form-group">
        <label for="passwd">passwd:</label>
        <input class="form-control" type="text" name="passwd" [(ngModel)]="redacteur.passwd" required #prenom="ngModel"> 
    </div>
    <div [hidden]="passwd.valid || passwd.pristine">
        le passwd est obligatoire
    </div>
    <div class="form-group">
        <label for="penname">penname:</label>
        <input class="form-control" type="text" name="penname" [(ngModel)]="redacteur.penname" required #salaire="ngModel"> 
    </div>
    <div [hidden]="penname.valid || penname.pristine">
        le penname est obligatoire
    </div>
    <div>
        <button class="btn btn-success" [disabled]="!myForm.valid">
            Ajouter
        </button>
    </div>
</form>
<ul class="list-group">
    <li *ngFor="let elt of redacteurs" class="list-group-item">
        {{ elt.id }} {{ elt.userlogin }} {{ elt.passwd }} {{ elt.penname }} {{ elt.accredit }}
        <!-- <button class="btn btn-success" (click)="personDetails(elt.id)">
            Select
        </button>
        <button class="btn btn-danger" (click)="deletePerson(elt.id)">
            Supprimer
        </button>
        <button class="btn btn-primary" (click)="personEdit(elt.id)">
            Edit
        </button> -->
    </li>
</ul>