.logo{
    height: 40px;
    margin-left: 27%;
}
.title{
    font-size: 17.5px;
    margin-top: 10px;
}
.annuler{
    margin: 10px 3px;
    background-color: #9093a3;
    color: #fff;
}

.bouttons{
    text-align: right;
}
