<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="./assets/img/logo-POECNewsBlanc.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="title">MODIFIER ARTICLE</ion-title>

  <ion-list lines="full">
    <form [formGroup]="editForm" (ngSubmit)="saveForm()">

      <ion-item>
        <ion-label position="floating">Rédacteur</ion-label>
        <ion-input formControlName="author" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Titre</ion-label>
        <ion-input formControlName="titre" type="text" required></ion-input>
      </ion-item>

      <ion-item class="itemTextarea">
        <ion-label position="floating">Contenu</ion-label>
        <ion-textarea formControlName="contenu" type="textarea" autoGrow="false" required></ion-textarea>
      </ion-item>

      <ion-row>
        <ion-col>
          <button mat-raised-button color="primary" type="submit">MODIFIER</button>
          <button class="annuler" mat-raised-button [routerLink]="['/gerer-articles/']">ANNULER</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>



</ion-content>