.logo{
    height: 40px;
    margin-left: 27%;
}

.buttonLire{
    margin: 5px;
}

.divLire{
    text-align: end;
}

.title{
    margin-left: 6px !important;
}

.articleHeader {
    display: flex;    
    justify-content: space-between;
    padding: 0 0;
}
