<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="./assets/img/logo-POECNewsBlanc.png">
  </ion-toolbar>
  <div class="filtre">
    <ion-icon name="filter" class="iconFilter"></ion-icon>
    <span class="loginName">{{ loginName }}</span>
  </div>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of articles; let i = index;">
    <img src="{{ article.urlImage }}" />
    <ion-card-title class="title">{{ article.titre }}</ion-card-title>
    <ion-card-header class="articleHeader">
      <ion-chip class="clearFix" outline color="secondary">
        <ion-label (click)="afficheParAuteur(article.userId)">{{ article.author }}</ion-label>
      </ion-chip>
      <ion-chip class="clearFix" outline color="primary">
        <ion-label (click)="afficheParCategory(article.categoryId)">{{ article.category }}</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-card-content class="ionContenu">{{article.contenu.substr(0, 100)}}</ion-card-content>
    <!-- <div class="divLire">
      <button class="buttonLire" mat-raised-button color="primary" (click)="lireArticle(article.id)">Lire</button>
    </div> -->
    <div class="divLire" >
      <ion-chip color="primary">
        <ion-label (click)="lireArticle(article.id)">Lire</ion-label>
      </ion-chip>
    </div>
  </ion-card>

</ion-content>