<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="./assets/img/logo-POECNewsBlanc.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="title">MODIFIER CATÉGORIE</ion-title>

  <ion-list lines="full">
    <form [formGroup]="editForm" (ngSubmit)="saveForm()">

      <ion-item>
        <ion-label position="floating">Tag</ion-label>
        <ion-input formControlName="tag" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Déscription</ion-label>
        <ion-input formControlName="description" type="text" required></ion-input>
      </ion-item>

      
        <div class="bouttons">
          <button mat-raised-button color="primary">MODIFIER</button>
          <button class="annuler" mat-raised-button [routerLink]="['/gerer-categories/']">ANNULER</button>
        </div>
      

    </form>
  </ion-list>

</ion-content>