<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <img class="logo" src="./assets/img/logo-POECNews.png">
  </ion-list>
  <ion-list>
    <form class="connect">
      <mat-form-field appearance="outline">
        <mat-label>IDENTIFIANT</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>MOT DE PASSE</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <button id="buttonConnect" mat-raised-button color="primary" (click)="goConnect()">CONNEXION</button>
      <a routerLink="/rec-mdp">Mot de passe oublié</a>
      <button id="buttonIns" mat-raised-button color="secondary">S'INSCRIRE</button>
    </form>
  </ion-list>

</ion-content>